---
import Layout from "../../layouts/Layout.astro";

const title = "Nomenclature";
---

<Layout title={title}>
  <section class="w-max center padd">
    <h2>{title}</h2>
    <div>
      <table>
        <tbody>
          <tr>
            <td class="padd-s"><h1>#</h1> </td>
            <td class="padd-s"> </td>
            <td class="padd-s"> <h1><code>02</code></h1></td>
            <td class="padd-s"> <h1>-</h1></td>
            <td class="padd-s"> <h1><code>01</code></h1></td>
            <td class="padd-s"> <h1>-</h1></td>
            <td class="padd-s"> <h1><code>03</code></h1></td>
          </tr>
          <tr>
            <td class="padd-s"> </td>
            <td class="padd-s"> </td>
            <td class="padd-s">Folder</br> e.g.: <code>02-colors</code></td>
            <td class="padd-s"> </td>
            <td class="padd-s">File</br> e.g.: <code>01-text</code></td>
            <td class="padd-s"> </td>
            
            <td class="padd-s">Style ID</td>
            
          </tr>
        </tbody>
      </table>
    </div>
    <div>
        
    </div>
  </section>
</Layout>
