---
interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<div class="wfc center">
  <table class={`${className || ""}`}>
    <thead>
      <tr>
        <th></th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
      </tr>
    </thead>
    <tr>
      <th>John Doe</th>
      <td>213</td>
      <td>34</td>
      <td>125</td>
      <td>64</td>
      <td>235</td>
    </tr>
    <tr>
      <th>Crystal Smith </th>
      <td>56</td>
      <td>89</td>
      <td>90</td>
      <td>75</td>
      <td>101</td>
    </tr>
    <tr>
      <th>Carl Fenix</th>
      <td>45</td>
      <td>87</td>
      <td>34</td>
      <td>68</td>
      <td>35</td>
    </tr>
    <tr>
      <th>Megan Davis</th>
      <td>202</td>
      <td>198</td>
      <td>174</td>
      <td>215</td>
      <td>164</td>
    </tr>
    <tfoot>
      <tr>
        <th> </th>
        <td>516</td>
        <td>408</td>
        <td>423</td>
        <td>422</td>
        <td>535</td>
      </tr>
    </tfoot>
  </table>
</div>
