---
import Layout from "../../../layouts/Layout.astro";

const title = "Lists";
---

<Layout title={title}>
  <section class="w-max center padd">
    <h2>{title}</h2>

    <div class="col">
      <div>
        <h3>Lists Base Styles</h3>
        <i>@ID:<b> #05-02-01</b></i>
        <div class="separator-v-s"></div>

        <div class="col-row marg-v jc-sa">
          <div class="col marg">
            <h5>&lt;ul&gt;</h5>
            <ul class="">
              <li>Derick Kramer</li>
              <li>Keely Watts</li>
              <li>Grayson Best</li>
              <li>Brayan Best</li>
              <li>Fatima Ashley</li>
              <li>Enrique Rowe</li>
              <li>Cesar Boyer</li>
              <li>Luca Best</li>
            </ul>
          </div>
          <div class="col marg">
            <h5>&lt;ol&gt;</h5>
            <ol class="">
              <li>Derick Kramer</li>
              <li>Keely Watts</li>
              <li>Grayson Best</li>
              <li>Brayan Best</li>
              <li>Fatima Ashley</li>
              <li>Enrique Rowe</li>
              <li>Cesar Boyer</li>
              <li>Luca Best</li>
            </ol>
          </div>
          <div class="col marg">
            <h5>&lt;ul class="bordered"&gt;</h5>
            <ul class="bordered">
              <li>Derick Kramer</li>
              <li>Keely Watts</li>
              <li>Grayson Best</li>
              <li>Brayan Best</li>
              <li>Fatima Ashley</li>
              <li>Enrique Rowe</li>
              <li>Cesar Boyer</li>
              <li>Luca Best</li>
            </ul>
          </div>
          <div class="col marg">
            <h5>&lt;ol class="alt"&gt;</h5>
            <ol class="alt">
              <li>Derick Kramer</li>
              <li>Keely Watts</li>
              <li>Grayson Best</li>
              <li>Brayan Best</li>
              <li>Fatima Ashley</li>
              <li>Enrique Rowe</li>
              <li>Cesar Boyer</li>
              <li>Luca Best</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>
