---
---

<aside class="">
	<div class="">
		<h2>Menu</h2>
	</div>
	<nav class="">
		<ul>
			<li><a href="/">Dashboard</a></li>
			<li><a href="/profile">Perfil</a></li>
			<li><a href="/settings">Configuración</a></li>
			<li><a href="/notifications">Notificaciones</a></li>
			<li><a href="/messages">Mensajes</a></li>
			<li><a href="/help">Ayuda</a></li>
			<li><a href="/docs/01-config/01-pallete">Paleta</a></li>
		</ul>
	</nav>
	<div class="">
		<p>© 2025</p>
	</div>
</aside>
